<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href ="~/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <script src="~/js/bootstrap.min.js">
    </script>
</head>
<body>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a asp-controller ="Home" asp-action="Index" class="nav-link px-2 link-secondary">Главная</a></li>
            <li><a asp-controller="Products" asp-action="List" class="nav-link px-2 link-dark">Перейти к покупкам</a></li>
            <li><a asp-controller="Baskets" asp-action="List" class="nav-link px-2 link-dark">Корзина</a></li>
        </ul>

        <div class="col-md-3 text-end">
            @{
                if (User.IsInRole("admin"))
                {
                    <a asp-controller="AdminPanel" asp-action="List" type="button" class="btn btn-primary">Админ панель</a>
                }
            }
            <a asp-controller="Account" asp-action="Login" type="button" class="btn btn-primary">Войти</a>
            <a asp-controller="Account" asp-action="Logout" type="button" class="btn btn-primary">Выйти</a>
            
        </div>
    </header>
    <div>
        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    @RenderBody()               
                </div>
            </div>
        </div>
    </div>
    <footer class="container">
        <p class="float-end"><a asp-controller="Home" asp-action="Index">На главную</a></p>
        <p>Like A Game</>
      </footer>
   
</body>
</html> 
