@using Shop.Models;
@model Shop.Models.Basket;

<h2>
    Корзина
</h2>
@{
    if (Model.Products != null)
    {
        foreach (Product product in Model.Products)
        {
            <div>
                @Html.Partial("AllProduct", product);

                <p><a class="btn btn-sm btn-outline-secondary" asp-controller="BasketProducts" asp-action="DeleteToBasket" asp-route-productId="@product.Id">Убрать</a></p>
            </div>
                
        }
    }
}

<p><a class="btn btn-warning" asp-controller="Order" asp-action="Index"> Оплатить</a></p>