@using Shop.Models;

<h2>
    Все игры
</h2>
@{
    foreach (Product product in Model)
    {
       @Html.Partial("AllProduct", product)

        <p><a class="btn btn-warning" asp-controller="BasketProducts" asp-action="AddToBasket" asp-route-productId="@product.Id"> Добавить в корзину</a></p>

    }
}